@model IEnumerable<gbuweb.Models.Entity>
   
<div class="container py-5">
    <div class="card border-0">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <img src="~/Content/userdata/entity/@Html.DisplayFor(modelItem => item.photo)" class="float-right" height="175px" width="248px">
                </div>
                <div class="col-md-8 p-4 my-auto">

                    <div class="card-block px-3">
                        <h4>@Html.DisplayFor(modelItem => item.title)</h4>
                        <p class="small">@Html.DisplayFor(modelItem => item.createdAt)</p>
                        <p>@Html.DisplayFor(modelItem => item.description)</p>
                        <h6>Download Links:</h6>
                        <p class="card-text">
                            <a href="~/Content/userdata/entity/@Html.DisplayFor(modelItem => item.pdf)">@Html.DisplayFor(modelItem => item.pdf)</a>

                        </p>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
