<div class="container0">
    <div class="row">
        <div class="col-md-8 my-1 pt-3" style="height:260px">
            <div class="card shadow" style="height:270px" id="">
                <div class="card-header" id="">
                    <h5 class=" text-center">Latest Updates</h5>
                </div>
                <div class="card-body">
                    <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="2">

                        @Html.Partial("admission_front_notice")


                    </marquee>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-1 pt-3">
            <div class="card shadow" id="">

                <div class="card-body">
                    <button type="button" class="btn btn-lg btn-block btn-primary">Apply for Admission</button>

                    <button type="button" class="btn btn-lg btn-block btn-primary">Admission Brochure</button>
                </div>
            </div>




            <div class="card shadow" id="">
                <div class="card-header" id="">
                    <h5 class=" text-center">Imporant Dates</h5>
                </div>
                <div class="card-body">
                    15 Jan 2021
                </div>
            </div>

        </div>

        <div class="col-md-4 my-1 pt-3">

        </div>
    </div>





    <section style="background-color: #78335D; #006690">
        <style>
            .home-sec1 {
                display: block;
                width: 100%;
                background-color: #006690;
                padding: 80px 0;
            }

                .home-sec1 .container {
                    padding-left: 100px;
                    padding-right: 100px;
                }

            .top-home-sec1.row h2 {
                font-size: 62px;
                font-weight: 900;
                color: #fff;
                padding-bottom: 10px;
                text-align: right;
                text-transform: uppercase;
                text-align: left;
                text-transform: uppercase;
                padding-left: 30px;
            }

            .top-home-sec1.row p {
                font-weight: 400;
                color: #fff;
                text-align: right;
            }

            .top-home-sec1 ul {
                padding-top: 0px;
                padding-left: 30px;
            }

                .top-home-sec1 ul li h3 {
                    font-size: 62px;
                    font-weight: 900;
                    color: #fff;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    text-align: center;
                }

                .top-home-sec1 ul li {
                    float: left;
                    width: 33%;
                    border-left: 1px solid #eff5f8;
                }

                    .top-home-sec1 ul li span {
                        text-align: center;
                        color: #fff;
                        font-size: 18px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        display: block;
                        margin: 0 auto;
                    }

            .tab-home-sec1 .nav-tabs li a {
                font-size: 18px;
                background-color: #fff;
                width: 100%;
                padding: 12px;
                text-align: center;
                display: block;
            }

            .tab-home-sec1 .nav-tabs {
                width: 100%;
                border-bottom: none;
            }

                .tab-home-sec1 .nav-tabs li {
                    width: 50%;
                }

                    .tab-home-sec1 .nav-tabs li.active a {
                        background-color: #1a1a1a;
                        color: #fff;
                    }

            .tab-home-sec1 {
                display: block;
                padding-top: 30px;
            }

            .tab-home-content h3 {
                color: #fff;
                font-weight: 300;
                font-size: 36px;
            }

            .tab-home-sec1 .tab-content {
                background-color: #1a1a1a;
                width: 100%;
                display: block;
            }

            .tab-home-content {
                padding: 50px;
                overflow: hidden;
            }

            .tab-home-sec1 .tab-content {
                overflow: hidden;
            }
        </style>
        <div class="container">
            <div class="top-home-sec1 row">

                <div class="col-12 col-md-12">
                    <h2>
                        Study at GBU
                    </h2>
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> We stimulate students' vision and empower them to actualize their vigor, by infusing experiential, experimental and inter-disciplinary learning in a research environment. </p>

                </div>
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <ul>
                        <li class="col-md-4 my-1 pt-3">
                            <h3 class="wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">8</h3>
                            <span class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">University Schools</span>
                        </li>
                        <li class="col-md-4 my-1 pt-3">
                            <h3 class="wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">50+</h3>
                            <span class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Departments &amp; Centers</span>
                        </li>
                        <li>
                            <h3 class="wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">100+</h3>
                            <span class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Programmes</span>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="jumbotron text-center">
                <h1>Programs @@ GBU </h1>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <ul class="nav justify-content-center col-md-8">
                            <li class="btn btn-info nav-item nav-itemc m-1">
                                <a href="#home" class="nav-link text-white" data-toggle="tab"><h3>Under Graduation</h3>  </a>
                            </li>
                            <li class="btn btn-info nav-item nav-itemc m-1">
                                <a href="#noti" class="nav-link text-white" data-toggle="tab"><h3> Post Graduation </h3></a>
                            </li>

                            <li class="btn btn-info nav-item nav-itemc m-1">
                                <a href="#msg" class=" nav-link text-white" data-toggle="tab"> <h3>Ph.D/M.Phil</h3> </a>
                            </li>
                            <li class="btn btn-info nav-item nav-itemc m-1">
                                <a href="#cr-dp" class="nav-link text-white" data-toggle="tab"> <h3>Certification/Diploma </h3></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>



    </section>

    <!--E tab -->
    <div class="container mb-0 text-center">
        <div class=" tab-content container">
            <div class="tab-pane active" id="home">
                <br>
                <div class="fadeuponsc row w-100">
                    <div class="container m-0 ttab w-100">
                        <div class="cl1 ttabc-com mr-2">
                            <div class="stats-copy">
                                <h2 class="text-lg-left text-sm-center">Undergraduation Admissions</h2>
                                <div class="" style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                                <br>
                                <div class="text-justify">
                                    <h5 class="">Undergraduation Courses</h5>
                                    <p>
                                       
                                        B.Tech. in Civil Engineering, Mechanical Engineering, Electrical Engineering, Computer Science Engineering & Electronics and Communication Engineering, Food Processing and Technology, Biotechnology, Integrated Dual Degree
                                        Programme BBA-MBA, Integrated Dual Degree Programme BBA-MBA, BA+ LLB (5-Year Integrated Programme), Bachelor in Architecture (B. Arch), B.Tech in Information Technology (IT), B. Sc., B. Voc. (Bachelor of Vocational Studies) in
                                        Food Processing, B.A. (Hons.)-MA in Buddhist Studies and Civilization.
                                    </p>
                                </div>
                                <br>
                                <br>
                                <!-- <a href="https://gbu.epravesh.com/" class="xcdx-btn text-white p-4">Undergraduation Admissions</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container tab-pane" id="noti">

                <div class="fadeuponsc row w-100">
                    <div class="container m-0 ttab w-100">
                        <div class="cl1 ttabc-com mr-2">
                            <div class="stats-copy">
                                <h2 class="text-lg-left">Postgraduation courses</h2>
                                <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                                <br>
                                <div class="text-justify">
                                    <h5>Ph.D/M.Phil courses</h5>
                                    <p>
                                        M. Plan (Master of Urban and Regional Planning), M.Tech in Power System Engineering, M.Tech in Instrumentation and Control, M.Tech in Power Electronics and Drives, M.Tech (Biotech), M.Tech in Specialization in Software
                                        Engineering, M. Tech in Specialization in Intelligent System and Robotics, M.Tech in Specialization in Wireless Communication and Networks, M.Tech in Specialization in VLSI Design, M.Tech in Computer Science.
                                    </p>
                                    <p class="text-justify">
                                        M.Tech in Embedded System, M.Tech in Food Processing and Technology, M. Sc. in Applied Chemistry, M. Sc.in Applied Physics, M. Sc. in Applied Mathematics, M.
                                        Sc. in Environmental Science, M. Sc. in Food Science, MA in Buddhist Studies & Civilization, M. Phil in Buddhist Studies & Civilization, MA in Education, MA in History and Civilization, MA in Economics, Planning and
                                        Development, MA in English, MA in Hindi, MA in Urdu, MA in Mass Communication, MSW(Master in Social Work), MA in Sociology, MA in Political Science and International Relations, MA/M.Sc. in Applied Psychology, Master in
                                        Disability Rehabilitation & Administration, M.Phil in Clinical Psychology, Master in Public Policy and Governance
                                    </p>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container tab-pane" id="msg">
                <br>
                <div class="fadeuponsc row w-100">
                    <div class="container m-0 ttab w-100">
                        <div class="cl1 ttabc-com mr-2">
                            <div class="stats-copy">
                                <h2 class="text-lg-left">Ph.D/M.Phil Admissions</h2>
                                <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                                <br>
                                <div class="text-justify">
                                    <h5>Ph.D/M.Phil courses</h5>
                                    <p>
                                        Ph.D. (Electrical Engg.), (Power converters & Drives, Control System Optimization, Biomedical Instrumentation & Image Processing), Ph.D. in Civil Engineering, Ph.D. (Architecture & Planning), Ph.D. (Mechanical Engg.), Ph.D. in
                                        Management, Ph.D. in Applied Chemistry, Ph.D. in Applied Physics, Ph.D. in Applied Mathematics, Ph.D. in various areas of Biotechnology, Ph.D. in law
                                    </p>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="cl2 ttabc-com  ml-3">
                            <img class="ug-img img-fluid" src="../../admission/assets/img/Admission_home/gbu-phd.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container tab-pane" id="cr-dp">
                <br>
                <div class="fadeuponsc row w-100">
                    <div class="container m-0 ttab w-100">
                        <div class="cl1 ttabc-com mr-2">
                            <div class="stats-copy">
                                <h2 class="text-lg-left">Certification/ Diploma Admissions</h2>
                                <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                                <br>
                                <div class="text-justify">
                                    <h5>Certification/Diploma Admissions</h5>
                                    <p class="text-justify">
                                        <li>   PGL01	PG DIPLOMA IN BUSINESS AND ECONOMIC LAWS
                                        <li>   PGH01 	PG DIPLOMA IN ENGLISH LANGUAGE TEACHING (ELT) (PART-TIME,NON-RESIDENTIAL)
                                        <li>    DH01	DIPLOMA IN URDU LANGUAGE (PART-TIME,NON-RESIDENTIAL)
                                        <li>
                                            CBS01 	CERTIFICATE COURSE IN PALI LANGUAGE AND LITERATURE (PART-TIME)
                                        <li>
                                            PGBS01 	PG DIPLOMA IN PALI LANGUAGE AND LITERATURE (PART-TIME)
                                        <li>        PGBS02 	PG DIPLOMA IN BUDDHIST TOURISM AND HERITAGE (PART-TIME)
                                    </p>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br><br>
          </div>
    </div>

    <!-- start slide -->
    <div class="container0">
        <div class="row my-0 p-0">
            <div class="col p-0">
                <div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        <!-- <li data-target="#demo" data-slide-to="3"></li>
                        <li data-target="#demo" data-slide-to="4"></li> -->
                    </ul>
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../../../../admission/banner/bannerq.jpg" id="fill" width="30%" height="100%">
                            <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                                <h2>Gautam Buddha University for the Session 2020-21 offers around 100 programmes to the prospective admission seekers, encompassing many new and sunrise disciplines of studies.</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../../../admission/banner/Artificial Intelligene.jpg" id="fill" width="30%" height="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../../../../admission/banner/data science.jpg" id="fill" width="30%" height="100%">
                        </div>

                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end slide -->
    </div>
</div>